<tr id="<%= dom_id(comic) %>" class="<%= indicator_class %>">
  <td>
    <%= comic.name %>
  </td>
  <td>
    <%= comic.author.name %>
  </td>
  <td>
    <%= link_to 'ðŸ—‘ï¸', comic_path(comic), data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                }
              %>
  </td>
</tr>
