<turbo-stream action="update" target="comics_table">
  <template>
    <table class="table table-striped caption-top">
      <caption>
        <h1><%= t('.caption') %></h1>
      </caption>
      <thead>
        <tr>
          <th class="w-50">
            <%= Comic.human_attribute_name(:name) %>
          </th>
          <th class="w-25">
            <%= Author.human_attribute_name(:name) %>
          </th>
          <th class="w-25">
            <%= t('.functions') %>
          </th>
        </tr>
      </thead>
      <tbody id="comics">
        <%= render partial: 'comic_row', collection: comics, locals: { indicator_class: 'old' } %>
      </tbody>
    </table>
  </template>
</turbo-stream>
