<%# render the search form %>
<div class="w-25">
  <%= render 'search' %>
</div>
<details>
  <summary><%= t('.new') %></summary>
  <%= render 'form' %>
</details>
<%# we will show an error if something went wrong %>
<%= turbo_frame_tag "error" do %>
<% end %>
<%# this represents the table %>
<%= turbo_frame_tag "comics" do %>
  <%= render partial: 'table', locals: { results: @results } %>
<% end %>
