<div data-controller="search">
  <details>
    <summary><%= t('.new') %></summary>
    <%= render 'form' %>
  </details>
  <%# render the search form %>
  <div class="w-25">
    <%= render 'search' %>
  </div>
  <%# we will show an error if something went wrong %>
  <%= turbo_frame_tag "error" do %>
  <% end %>
  <%# this represents the table %>
  <%= turbo_stream_from "comics" %>
  <%= turbo_frame_tag 'comics_table' do %>
    <%= render partial: 'table', locals: { comics: @comics } %>
  <% end %>
</div>
